@model SilkFlo.Web.ViewModels.Settings.APIAccess

<style>
	.custom-switch {
		position: relative;
		display: inline-block;
		width: 55px;
		height: 25px;
	}

		.custom-switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}

	.custom-slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		transition: .4s;
	}

		.custom-slider:before {
			position: absolute;
			content: "";
			height: 25px;
			width: 26px;
			background-color: white;
			transition: .4s;
		}

	.custom-switch input:checked + .custom-slider {
		background-color: #FF9B44;
	}

	.custom-switch input:focus + .custom-slider {
		box-shadow: 0 0 1px #FF9B44;
	}

	.custom-switch input:checked + .custom-slider:before {
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.custom-slider.round {
		border-radius: 25px;
	}

		.custom-slider.round:before {
			border-radius: 50%;
		}

	#myTable {
		border-collapse: collapse;
		width: 100%;
		background-color: white;
	}

		#myTable th,
		#myTable tr,
		#myTable td {
			border: none;
			padding: 8px;
			background-color: white;
			border-collapse: collapse;
		}

		#myTable th {
			background-color: white;
			border-collapse: collapse;
		}

</style>


<div class="TitleBar">
	<div class="d-flex justify-content-between">
		<h3 style="color:#FF8A00">Settings > API</h3>
	</div>
	<div class="d-flex justify-content-between" style="width: 441px;height: 25px;left: 263px;top: 173px;font-style: normal;font-weight: 650;font-size: 32px;line-height: 48px;display: flex;align-items: center;color: #363853; margin: 20px 0px 20px 0px;">
		<h1 style="font-weight: bold;">SilkFlo API</h1>
	</div>
	<div style="background-color: white; padding: 20px; margin-top: 20px; width: 1030px; height: 162px;">
		<h3 style="font-size: 16px; color: #363853; font-family: 'Poppins', sans-serif; font-weight: bold;">
			Build & work more efficiently
		</h3>
		<p style=" font-style: normal;font-size: 16px;line-height: 24px;color: #353535;">Use our API to manipulate your tenant, or to integrate SilkFlo's data across a range of different technologies including RPA, IDP, chatbots, low-code and more... no matter which vendors you use.</p>

		<p style="font-size: 16px;  font-family: 'Poppins', sans-serif; font-weight: 600;">
			<a href="https://silkflo.com/docs/" target="_blank" style="color: #FF8A00;"> View Documentation 
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" style="margin-bottom:5px" color="#FF8A00" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
					<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
				</svg>	
			</a>
		</p>
	</div>
	<div style="background-color: white; padding: 20px; margin-top: 20px; width: 1030px; height: auto; display: flex; flex-direction: column; align-items: flex-start;">
		<div>
			<h3 style="font-size: 16px; color: #363853; font-family: 'Poppins', sans-serif; font-weight: bold;">
				API Token
			</h3>
		</div>
		<div style="display: flex; justify-content: space-between; width: 100%;">
			<div style="flex: 1;">
				<p style="font-size: 16px; color: #353535; margin-bottom: 10px;">
					Generate an Access Key which is used to authenticate to the SilkFlo API
				</p>
			</div>
			<div style="margin-right: 85px;">
				<button style="width: 177px;height: 40px;background-color: white; border: 2px solid #FF8A00; color: #FF8A00;cursor: pointer;font-size: medium;" onclick="ShowAddTokenModal()">
					<b>Get API Access Key</b>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="row" style="margin-top:30px">
	<div class="col-lg-12 col-sm-12 col-xs-12">
		<div class="tab-content" style="margin-top: 0px; margin-top: -4px; border-left: 1px solid #ddd;">
			<div role="tabpanel" class="tab-pane active" id="">
				<div class="white-box">
					<div class="table-responsive">
						<div class="dataTables_wrapper no-footer" id="myTable_wrapper">

							<table class="table dataTable table-bordered no-footer" style="width:86%" id="myTable" role="grid" aria-describedby="myTable_info">
								<thead>
									<tr role="row">
										<th>Name</th>
										<th>Token</th>
										<th>Description</th>
										<th>Expires</th>
										<th>Active</th>
									</tr>
								</thead>
								<tbody id="accessKeytbl">
									@if (Model != null && Model.Details != null)
									{
										foreach (var x in Model.Details)
										{
											<tr>
												<td>@x.Name</td>
												<td>@x.SessionKey</td>
												<td>@x.Description</td>
												<td>@x.ExpirationDate</td>
												<td>@(x.IsActive? "Yes": "No")</td>
											</tr>
											
										}
									}
									<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display:none">
										<p style="position: absolute; top: 30%; left: 45%; color: White;">
											Loading, please wait...
										</p>
									</div>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<form>
	<div class="modal fade" id="ShowAddTokenModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title ms-3" id="staticBackdropLabel">Generate API Access Key</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-group mb-3">
						<label for="tokenName" class="form-label"><b>Name</b> <small>(Key Name)</small><span style="color:red">*</span></label>
						<input type="text" max-length="50" class="form-control" id="tokenName" maxlength="50">
					</div>
					<div class="form-group mb-3">
						<label for="tokenDescription"><b>Description</b><span style="color:red">*</span></label>
						<textarea max-length="100" class="form-control" id="tokenDescription" maxlength="100" rows="2" style="resize:none"></textarea>
					</div>
					<div class="form-group mb-3">
						<label for="tokenExpires"><b>Valid Till</b> <small>(Key expiration time)</small><span style="color:red">*</span></label>
						<div class="input-group date" id="expiresDatePicker" data-target-input="nearest" style="width:300px; position: relative;">
							<input class="form-control bg-white datepicker" data-date-format="m/d/Y G:iK" data-enable-time="true" style="padding-right: 30px;" />
							<div style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
								<i class="bi bi-calendar blue"></i>
							</div>
						</div>
					</div>
					<div>
						<div class="form-check form-switch">
							<label class="form-check-label" for="isActive"><b>Active</b> <small>(Enable/Disable the key)</small></label>
							<input class="form-check-input" type="checkbox" role="switch" id="isActive">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-warning" onclick="SaveToken()">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>


@* <div class="modal fade" id="apiAccessKeyGen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">API Access Key</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="valueToShow"></p>
				<button type="button" class="btn btn-secondary" id="copyBtn">Copy</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div> *@

<div class="modal fade" id="apiAccessKeyGen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Access Key</h5>
			</div>
			<div class="modal-body">
				<div class="input-group mb-3">
					<input id="valueToShow" type="text" class="form-control" aria-describedby="basic-addon2" readonly>
				</div>
				<br /> <br /> <br />
				<div class="alert alert-dark" role="alert">
					<b>Heads up!</b> This API Access Key is only shown once. Copy it and keep it safe in a trusted place.
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload()">Close</button>
			</div>
		</div>
	</div>
</div>