@using System.Globalization
@model SilkFlo.Web.Models.Shop.Coupon

<div class="container">

    <form asp-action="Edit"
          method="post">
        <div class="TitleBar">
            <h1>Edit Coupon</h1>

        @Html.HiddenFor(x => x.CreatedById)
        @Html.HiddenFor(x => x.UpdatedById)


            <div class="grid_1fr_auto">
                <div class="toolbar">
                    <!-- Buttons -->
                    <button formaction="/Administration/Shop/Coupon/Edit"
                            formmethod="post"
                            type="submit"
                            class="btn btn-secondary">Save</button>
                    <button formaction="/Administration/Shop/Coupon/Cancel"
                            formmethod="post"
                            type="submit"
                            class="btn btn-secondary">Cancel</button>
                </div>

                <div class="toolbar">
                    <a href="/Administration/Shop/Coupon">Back to List</a>
                </div>
            </div>
        </div>
    @if (!ViewContext.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    }

        <!-- Form Coupon -->
        <!-- Date -->
        @await Html.PartialAsync("Elements/_LabeledInput",
            new SilkFlo.Web.ViewModels.Element
            {
                Title = "Date Modified",
                Id = "DateTimeDisplayed",
                Value = Model.DateTimeDisplayed,
                ElementType = "text",
                IsReadOnly = true,
                InvalidFeedback = ""
            })

            <!-- Id Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Id",
                    Id = "Id",
                    Name = "Id",
                    Value = Model.Id,
                    ElementType = "text",
                    InvalidFeedback = Model.Id_ErrorMessage,
                    IsInvalid = Model.Id_IsInValid
                })

            <!-- Name Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Coupon Code",
                    Id = "Name",
                    Name = "Name",
                    Value = Model.Name,
                    ElementType = "text",
                    InvalidFeedback = Model.Name_ErrorMessage,
                    IsInvalid = Model.Name_IsInValid
                })

            <!-- Discount Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Discount",
                    Id = "Discount",
                    Name = "Discount",
                    Value = Model.Discount?.ToString(CultureInfo.InvariantCulture),
                    ElementType = "number",
                    InvalidFeedback = ""
                })

            <!-- DiscountPercent Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Discount Percent",
                    Id = "DiscountPercent",
                    Name = "DiscountPercent",
                    Value = Model.DiscountPercent?.ToString(),
                    ElementType = "number",
                    InvalidFeedback = ""
                })

            <!-- TrialDay Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Trial Day",
                    Id = "TrialDay",
                    Name = "TrialDay",
                    Value = Model.TrialDay?.ToString(),
                    ElementType = "number",
                    InvalidFeedback = ""
                })

            <!-- DateExpiry DatePicker -->
            @await Html.PartialAsync("Elements/_DatePicker",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Date Expiry",
                    Id = "DateExpiry",
                    Name = "DateExpiry",
                    Value = Model.DateExpiry.ToString(),
                    IsFloatingLabel = false,
                    InvalidFeedback = Model.DateExpiry_ErrorMessage,
                    IsInvalid = Model.DateExpiry_IsInValid
                })

            <!-- IsRecurring checkbox Input -->
            <div class="form-check form-switch">
                @Html.CheckBoxFor(model => model.IsRecurring,
                                  new { @class = "form-check-input", @id = "IsRecurring" })
                <label class="form-check-label"
                       for="IsRecurring">Is Recurring</label>
            </div>

            <!-- UseCount Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Use Count",
                    Id = "UseCount",
                    Name = "UseCount",
                    Value = Model.UseCount?.ToString(),
                    ElementType = "number",
                    InvalidFeedback = ""
                })

            <!-- UseTotal Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Use Total",
                    Id = "UseTotal",
                    Name = "UseTotal",
                    Value = Model.UseTotal?.ToString(),
                    ElementType = "number",
                    InvalidFeedback = ""
                })

            <!-- CreatedBy Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Created By",
                    Id = "CreatedBy",
                    Value = Model.CreatedBy,
                    ElementType = "text",
                    IsReadOnly = true,
                    InvalidFeedback = ""
                })


            <!-- CreatedDate Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Created Date",
                    Id = "CreatedDateString",
                    Value = Model.CreatedDateString,
                    ElementType = "text",
                    IsReadOnly = true,
                    InvalidFeedback = ""
                })



            <!-- UpdatedBy Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Updated By",
                    Id = "UpdatedBy",
                    Value = Model.UpdatedBy,
                    ElementType = "text",
                    IsReadOnly = true,
                    InvalidFeedback = ""
                })

            <!-- UpdateDate Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Updated Date",
                    Id = "UpdatedDateString",
                    Value = Model.UpdatedDateString,
                    ElementType = "text",
                    IsReadOnly = true,
                    InvalidFeedback = ""
                })


            @if (@Model.IsDeleted)
            {
                <!-- Is Deleted Input -->
                <div class="flex_grid">
                    <label>
                        @Html.CheckBoxFor(m => m.IsDeleted)
                        Is Deleted
                    </label>
                </div>
            }
    </form>
</div>