@using System.Globalization
@model SilkFlo.Web.Models.Shared.Stage

<div class="container">

    <form asp-action="Edit"
          method="post">
        <div class="TitleBar">
            <h1>Edit Stage</h1>

        @Html.HiddenFor(x => x.CreatedById)
        @Html.HiddenFor(x => x.UpdatedById)

        @Html.HiddenFor(x => x.StageGroupString)

            <div class="grid_1fr_auto">
                <div class="toolbar">
                    <!-- Buttons -->
                    <button formaction="/Administration/Shared/Stage/Edit"
                            formmethod="post"
                            type="submit"
                            class="btn btn-secondary">Save</button>
                    <button formaction="/Administration/Shared/Stage/Cancel"
                            formmethod="post"
                            type="submit"
                            class="btn btn-secondary">Cancel</button>
                </div>

                <div class="toolbar">
                    <a href="/Administration/Shared/Stage">Back to List</a>
                </div>
            </div>
        </div>
    @if (!ViewContext.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    }

        <!-- Form Stage -->
        <!-- Date -->
        @await Html.PartialAsync("Elements/_LabeledInput",
            new SilkFlo.Web.ViewModels.Element
            {
                Title = "Date Modified",
                Id = "DateTimeDisplayed",
                Value = Model.DateTimeDisplayed,
                ElementType = "text",
                IsReadOnly = true,
                InvalidFeedback = ""
            })

            <!-- Id Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Id",
                    Id = "Id",
                    Name = "Id",
                    Value = Model.Id,
                    ElementType = "text",
                    InvalidFeedback = Model.Id_ErrorMessage,
                    IsInvalid = Model.Id_IsInValid
                })

            <!-- CanAssignCost checkbox Input -->
            <div class="form-check form-switch">
                @Html.CheckBoxFor(model => model.CanAssignCost,
                                  new { @class = "form-check-input", @id = "CanAssignCost" })
                <label class="form-check-label"
                       for="CanAssignCost">Can Assign Cost</label>
            </div>

            <!-- IsMileStone checkbox Input -->
            <div class="form-check form-switch">
                @Html.CheckBoxFor(model => model.IsMileStone,
                                  new { @class = "form-check-input", @id = "IsMileStone" })
                <label class="form-check-label"
                       for="IsMileStone">Is Mile Stone</label>
            </div>

            <!-- Name Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Name",
                    Id = "Name",
                    Name = "Name",
                    Value = Model.Name,
                    ElementType = "text",
                    InvalidFeedback = Model.Name_ErrorMessage,
                    IsInvalid = Model.Name_IsInValid
                })

            <!-- SetDateAutomatically checkbox Input -->
            <div class="form-check form-switch">
                @Html.CheckBoxFor(model => model.SetDateAutomatically,
                                  new { @class = "form-check-input", @id = "SetDateAutomatically" })
                <label class="form-check-label"
                       for="SetDateAutomatically">SetDateAutomatically</label>
            </div>

            <!-- Sort Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Sort",
                    Id = "Sort",
                    Name = "Sort",
                    Value = Model.Sort.ToString(),
                    ElementType = "number",
                    InvalidFeedback = Model.Sort_ErrorMessage,
                    IsInvalid = Model.Sort_IsInValid
                })

                   
        @await Html.PartialAsync("Elements/_LabeledSelect",
            new SilkFlo.Web.ViewModels.Element
        {
            Title = "Stage Group",
            Id = "StageGroupId",
            Name = "StageGroupId",
            Value = Model.StageGroupId,
            SelectList = new SelectList(Model.StageGroups,
                                                 "Id",
                                                 "Name")
        })
            <!-- CreatedBy Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Created By",
                    Id = "CreatedBy",
                    Value = Model.CreatedBy,
                    ElementType = "text",
                    IsReadOnly = true,
                    InvalidFeedback = ""
                })


            <!-- CreatedDate Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Created Date",
                    Id = "CreatedDateString",
                    Value = Model.CreatedDateString,
                    ElementType = "text",
                    IsReadOnly = true,
                    InvalidFeedback = ""
                })



            <!-- UpdatedBy Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Updated By",
                    Id = "UpdatedBy",
                    Value = Model.UpdatedBy,
                    ElementType = "text",
                    IsReadOnly = true,
                    InvalidFeedback = ""
                })

            <!-- UpdateDate Input -->
            @await Html.PartialAsync("Elements/_LabeledInput",
                new SilkFlo.Web.ViewModels.Element
                {
                    Title = "Updated Date",
                    Id = "UpdatedDateString",
                    Value = Model.UpdatedDateString,
                    ElementType = "text",
                    IsReadOnly = true,
                    InvalidFeedback = ""
                })


            @if (@Model.IsDeleted)
            {
                <!-- Is Deleted Input -->
                <div class="flex_grid">
                    <label>
                        @Html.CheckBoxFor(m => m.IsDeleted)
                        Is Deleted
                    </label>
                </div>
            }
    </form>
</div>