@using System.Globalization
@model SilkFlo.Web.Models.Business.OtherRunningCost


<tr onclick="SilkFlo.ViewModels.Settings.PlatformSetup.CostSetup.OtherRunningCosts.SelectRow_Click ( this )"
    ondblclick="SilkFlo.ViewModels.Settings.PlatformSetup.CostSetup.OtherRunningCosts.Dbl_Click ( this )"
    name="Business.OtherRunningCost">
    
    
    <td  style="height: 38px;">
        <div class="d-flex"
             style="height: 100%">

            <div name="Business.OtherRunningCost.NameDisplay"
                 class="displayField"
                 role="textbox"
                 old="@Model.Name">@Model.Name</div>
            
            <div class="editField"
                 contenteditable="true"
                 onpaste="const text = event.clipboardData.getData('Text'); event.preventDefault(); event.target.innerHTML = text;"
                 name="Business.OtherRunningCost.Name"
                 role="textbox"
                 style="padding: 0.5rem 0.5rem 0.5rem 0.5rem; flex: 1 1 auto; align-self: stretch; background: white;">@Model.Name</div>
            

            <div style="display: none"
                 name="Business.OtherRunningCost.Id">@Model.Id</div>

        </div>

    </td>
    

    <td style="height: 38px;">
        <div name="Business.OtherRunningCost.CostTypeName"
             class="displayField"
             role="textbox"
             old="@Model.CostType?.Name"
             oldId="@Model.CostTypeId">@Model.CostType?.Name</div>

       
        <select class="editField"
                name="Business.OtherRunningCost.CostTypeId"
                value="@Model.CostTypeId">
            @foreach (var costType in Model.CostTypes)
            {
                if (Model.CostTypeId == costType.Id)
                {
                    <option selected=""
                            value="@costType.Id">
                        @costType.Name
                    </option>
                }
                else
                {
                    <option value="@costType.Id">
                        @costType.Name
                    </option>
                }
            }
        </select>
    </td>
    
    
    <td style="height: 38px;">
        <div name="Business.OtherRunningCost.DescriptionDisplay"
             class="displayField"
             role="textbox"
             old="@Model.Description">@Model.Description</div>

        <div class="editField"
             contenteditable="true"
             name="Business.OtherRunningCost.Description"
             onpaste="const text = event.clipboardData.getData('Text'); event.preventDefault(); event.target.innerHTML = text;"
             role="textbox"
             style="height: 100%; padding: 0.5rem 0.5rem 0.5rem 0.5rem; flex: 1 1 auto; align-self: stretch; background: white;">@Model.Description</div>
    </td>
    


    <td style="height: 38px;">
        <div name="Business.OtherRunningCost.FrequencyName"
             class="displayField"
             role="textbox"
             old="@Model.Frequency?.Name"
             oldId="@Model.FrequencyId">@Model.Frequency?.Name</div>

        <select class="editField"
                style="height: 100%;"
                name="Business.OtherRunningCost.FrequencyId"
                oninput = "SilkFlo.ViewModels.Settings.PlatformSetup.CostSetup.OtherRunningCosts.Frequency_OnInput(event);"
                value="@Model.CostTypeId">
            @foreach (var frequency in Model.Frequencies)
            {
                if (Model.FrequencyId == frequency.Id)
                {
                    <option selected=""
                            value="@frequency.Id">
                        @frequency.Name
                    </option>
                }
                else
                {
                    <option value="@frequency.Id">
                        @frequency.Name
                    </option>
                }
            }
        </select>
    </td>

    

    <td style="height: 38px; text-align: right;">
        <div name="Business.OtherRunningCost.CostDisplay"
             class="displayField"
             role="textbox"
             old="@Model.Cost.ToString(Model.NumberFormat)">@Model.Currency?.Symbol&nbsp;@Model.Cost.ToString(Model.NumberFormat)</div>
        
        <div class="editFlexField"
             style="flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-content: stretch; align-items: flex-start; height: 100%">
            <span class="readOnly"
                  style="padding: 0.5rem; border-left: 1px solid var(--border-color); flex: 0 1 auto; align-self: stretch;">
                @Model.Currency?.Symbol
            </span>

            <div class="edit text-right"
                 contenteditable="true"
                 onpaste="const text = event.clipboardData.getData('Text'); event.preventDefault(); event.target.innerHTML = text;"
                 name="Business.OtherRunningCost.Cost"
                 oninput="SilkFlo.ViewModels.Settings.PlatformSetup.CostSetup.OtherRunningCosts.Cost_OnInput(event)"
                 onkeydown="KeyPressPositiveDecimalOnly ( event, SilkFlo.ViewModels.Settings.PlatformSetup.CostSetup.OtherRunningCosts.KeyPress )"
                 role="textbox"
                 style="padding: 0.5rem 0.5rem 0.5rem 0.5rem; flex: 1 1 auto; align-self: stretch;">@Model.Cost.ToString(CultureInfo.InvariantCulture)</div>
        </div>
    </td>


    <td style="height: 38px; text-align: right;">
        <div name="Business.OtherRunningCost.AnnualCostDisplay"
             class="displayField"
             role="textbox"
             old="@Model.Annual.ToString(Model.NumberFormat)">@Model.Currency?.Symbol&nbsp;@Model.Annual.ToString(Model.NumberFormat)</div>
        
        <div class="editFlexField"
             style="flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-content: stretch; align-items: flex-start; height: 100%">
            <span class="readOnly"
                  style="padding: 0.5rem; border-left: 1px solid var(--border-color); flex: 0 1 auto; align-self: stretch;">
                @Model.Currency?.Symbol
            </span>

            <div class="edit text-right"
                 contenteditable="true"
                 onpaste="const text = event.clipboardData.getData('Text'); event.preventDefault(); event.target.innerHTML = text;"
                 name="Business.OtherRunningCost.AnnualCost"
                 oninput="SilkFlo.ViewModels.Settings.PlatformSetup.CostSetup.OtherRunningCosts.AnnualCost_OnInput(event)"
                 onkeydown="KeyPressPositiveDecimalOnly ( event, SilkFlo.ViewModels.Settings.PlatformSetup.CostSetup.OtherRunningCosts.KeyPress )"
                 role="textbox"
                 style="padding: 0.5rem 0.5rem 0.5rem 0.5rem; flex: 1 1 auto; align-self: stretch;">@Model.Annual.ToString(CultureInfo.InvariantCulture)</div>
        </div>

    </td>


    <td style="text-align: center;">
        @{
            var isChecked = "";
            if (Model.IsLive)
            {
                isChecked =
                    "checked";
            }
        }

        <div class="form-switch">
            <input type="checkbox"
                   @Html.Raw(isChecked)
                   class="form-check-input"
                   name="Business.OtherRunningCost.IsLive"
                   disabled
                   old="@Model.IsLive.ToString()"
                   value="@Model.IsLive.ToString()"/>
        </div>
    </td>
</tr>