@model SilkFlo.Web.ViewModels.Business.Idea.IdeaStageGantt

@{

    var isReadOnly = Model.IsReadOnly.ToString().ToLower();
}
<style>
    .dayRangeEnd {
        border-top-right-radius: calc(var(--border-radius)*2/3);
        border-bottom-right-radius: calc(var(--border-radius)*2/3);
        background-color: #ff8a00 !important;
        color: #fff;
    }

    .dayRangeStart {
        border-top-left-radius: calc(var(--border-radius)*2/3);
        border-bottom-left-radius: calc(var(--border-radius)*2/3);
        background-color: #ff8a00 !important;
        color: #fff;
        position: relative;
        transition: all .3s ease-in-out;
    }

    .dayRangeMiddle {
        background-color: #ff8a0066 !important;
        color: #161616 !important;
        transition: all .3s ease-in-out;
    }

    .btn-day:hover {
        background-color: #ff8a00 !important; /* New background color on hover */
        border-color: #ff8a00 !important; /* New border color on hover */
        /* You can adjust the colors to your preference */
    }


    .datePicker-btn-month, .datePicker-btn-previous, .datePicker-btn-next {
        background-color: #ff8a00 !important; /* New background color on hover */
        border-color: #ff8a00 !important; /* New border color on hover */
    }

    .btn.btn-day.btn-danger {
        background-color: #ff8a00 !important; /* New background color on hover */
        border-color: #ff8a00 !important; /* New border color on hover */
    }
</style>

    <h2>Estimated Build Timeline</h2>
    <div class="gantt-table table-responsive text-nowrap">
        <table gantt-setting-dateStart-name="Business.IdeaStage.DateStart"
               gantt-setting-dateEnd-name="Business.IdeaStage.DateEnd"
               gantt-setting-dateButton-name="Business.IdeaStage.DateButton"
               gantt-setting-is-read-only="@isReadOnly"
               gantt-setting-row-name="Business.IdeaStage"
               gantt-setting-date-title="Date"
               gantt-setting-title="Stage"
               gantt-setting-title-name="Business.IdeaStage.Stage.Name"
               id="gantt1"
               name="Business.IdeaStages">

            @{
                var datePosition = 0;
                var last = Model.GanttIdeaStages.LastOrDefault();
            }

            @foreach (var ideaStage in Model.GanttIdeaStages)
            {
                var id = "";
                if (last == ideaStage)
                {
                    id = " id = \"LastNameCell\" ";
                }
                <tr name="Business.IdeaStage">
                    <td name="Business.IdeaStage.Stage.Name"@Html.Raw(id)
                        style="width: 1%; vertical-align: middle;">
                        <span>@ideaStage.Stage.Name</span>
                        <input name="Business.IdeaStage.Id"
                               type="hidden"
                               value="@ideaStage.Id"/>
                        <input name="Business.IdeaStage.Name"
                               type="hidden"
                               value="@ideaStage.Name"/>
                    </td>

                    <td name="gantt-date-cell"
                        style="width: 1%; display: none;">
                        <div class="d-flex">

                            <input class="form-control datePicker-input"
                                   name="Business.IdeaStage.DateStart"
                                   oninput="Gantt2.UpdateOldDate('gantt2', @datePosition, this.value); SilkFlo.ViewModels.Business.Idea.Edit.OneTimeCosts.UpdateCycleDays();"
                                   value="@ideaStage.DateStartEstimate.ToString("yyyy-MM-dd")"/>

                            @if (last != ideaStage)
                            {
                                <input class="form-control datePicker-input"
                                       name="Business.IdeaStage.DateEnd"
                                       oninput="Gantt2.UpdateOldDate('gantt2', @datePosition, this.value, true); SilkFlo.ViewModels.Business.Idea.Edit.OneTimeCosts.UpdateCycleDays();"
                                       style="border-radius: 0"
                                       value="@ideaStage.DateEndEstimate?.ToString("yyyy-MM-dd")"/>
                            }

                            <button class="btn btn-secondary datePicker-btn"
                                    name="Business.IdeaStage.DateButton">
                            </button>
                        </div>
                    </td>
                </tr>
                datePosition++;
            }
        </table>
    </div>


    <h2 style="margin-top: 3rem;">Actual Build Timeline</h2>
    <div class="gantt-table table-responsive text-nowrap">
        <table gantt-setting-dateStart-name="Business.IdeaStage.DateStart"
               gantt-setting-dateEnd-name="Business.IdeaStage.DateEnd"
               gantt-setting-dateButton-name="Business.IdeaStage.DateButton"
               gantt-setting-is-read-only="@isReadOnly"
               gantt-setting-row-name="Business.IdeaStage"
               gantt-setting-date-title="Date"
               gantt-setting-title="Stage"
               gantt-setting-title-name="Business.IdeaStage.Stage.Name"
               id="gantt2"
               name="Business.IdeaStages">

            @foreach (var ideaStage in Model.GanttIdeaStages)
            {

                <tr name="Business.IdeaStage">
                    <td name="Business.IdeaStage.Stage.Name"
                        style="width: 1%; vertical-align: middle;">
                        @ideaStage.Stage.Name
                        <input name="Business.IdeaStage.Id"
                               type="hidden"
                               value="@ideaStage.Id"/>
                        <input name="Business.IdeaStage.Name"
                               type="hidden"
                               value="@ideaStage.Name"/>
                    </td>
                    <td name="gantt-date-cell"
                        style="width: 1%; display: none; z-index: 3">
                        <div class="d-flex">

                            <input class="form-control datePicker-input"
                                   gantt-old-value="@ideaStage.DateStartEstimate.ToString("yyyy-MM-dd")"
                                   name="Business.IdeaStage.DateStart"
                                   value="@ideaStage.DateStart?.ToString("yyyy-MM-dd")"/>

                            @if (last != ideaStage)
                            {
                                <input class="form-control datePicker-input"
                                       gantt-old-value="@ideaStage.DateEndEstimate?.ToString("yyyy-MM-dd")"
                                       name="Business.IdeaStage.DateEnd"
                                       style="border-radius: 0"
                                       value="@ideaStage.DateEndEstimate?.ToString("yyyy-MM-dd")"/>
                            }

                            <button class="btn btn-secondary datePicker-btn"
                                    name="Business.IdeaStage.DateButton">
                            </button>
                        </div>
                    </td>
                </tr>

                datePosition++;
            }
        </table>
    </div>