@model List<SilkFlo.Web.Controllers2.FileUpload.DocumentDto>
<div class="accordion" style="margin-top:30px" id="accordionFlushExample">
	@*1st accord*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingOne">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
				<strong>Work Instructions 
					(@Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("DetailedWorkInstructions".ToLower())).Count())
				</strong>
			</button>
		</h2>
		<div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">File</th>
							<th scope="col">Size</th>
							<th scope="col">User</th>
							<th scope="col">Uploaded</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@{
							var DetailedWorkInstructions = Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("DetailedWorkInstructions".ToLower())).ToList();
							foreach(var elem in DetailedWorkInstructions)
							{
								<tr>
									<th scope='row'>
										<input type='checkbox' name="usrDocumentChk" value="@elem.Id" />
									</th>
									<td>@System.IO.Path.GetFileName(elem.FileNameWithExtetnsion)</td>
									<td>@elem.Size</td>
									<td>@elem.User</td>
									<td>@elem?.CreatedDateString</td>
									<td>
										<a title="Download" href="/api/business/idea/detail/Documentation/ideaId/Download?docUri=@elem.Id&ideaId=@elem.IdeaId" style="text-decoration: none;">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" style="color:var(--bs-dark); margin-right:10px;" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
											</svg>
										</a>
										<span title="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color:var(--bs-dark);" onclick="deleteDocument('@elem.Id','@elem.IdeaId')">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
											</svg>
										</span>
										
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	@*2nd accord*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
				<strong>
					Standard Operating Procedure
					(@Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("StandardOperatingProcedure".ToLower())).Count())
				</strong>
			</button>
		</h2>
		<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">File</th>
							<th scope="col">Size</th>
							<th scope="col">User</th>
							<th scope="col">Uploaded</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@{
							var StandardOperatingProcedure = Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("StandardOperatingProcedure".ToLower())).ToList();
							foreach(var elem in StandardOperatingProcedure)
							{
								<tr>
									<th scope='row'>
										<input type='checkbox' name="usrDocumentChk" value="@elem.Id" />
									</th>
									<td>@System.IO.Path.GetFileName(elem.FileNameWithExtetnsion)</td>
									<td>@elem.Size</td>
									<td>@elem.User</td>
									<td>@elem?.CreatedDateString</td>
									<td>
										<a title="Download" href="/api/business/idea/detail/Documentation/ideaId/Download?docUri=@elem.Id&ideaId=@elem.IdeaId" style="text-decoration: none;">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" style="color:var(--bs-dark); margin-right:10px;" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
											</svg>
										</a>
										<span title="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color:var(--bs-dark);" onclick="deleteDocument('@elem.Id','@elem.IdeaId')">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
											</svg>
										</span>
									</td>
								</tr>

							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	@*3rd accord*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
				<strong>
					Process maps / flowcharts
					(@Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("ProcessmapsORflowcharts".ToLower())).Count())
				</strong>
			</button>
		</h2>
		<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">File</th>
							<th scope="col">Size</th>
							<th scope="col">User</th>
							<th scope="col">Uploaded</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@{
							var ProcessmapsORflowcharts = Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("ProcessmapsORflowcharts".ToLower())).ToList();
						
						foreach(var elem in ProcessmapsORflowcharts)
							{
								<tr>
									<th scope='row'>
										<input type='checkbox' name="usrDocumentChk" value="@elem.Id" />
									</th>
									<td>@System.IO.Path.GetFileName(elem.FileNameWithExtetnsion)</td>
									<td>@elem.Size</td>
									<td>@elem.User</td>
									<td>@elem?.CreatedDateString</td>
									<td>
										<a title="Download" href="/api/business/idea/detail/Documentation/ideaId/Download?docUri=@elem.Id&ideaId=@elem.IdeaId" style="text-decoration: none;">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" style="color:var(--bs-dark); margin-right:10px;" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
											</svg>
										</a>
										<span title="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color:var(--bs-dark);" onclick="deleteDocument('@elem.Id','@elem.IdeaId')">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
											</svg>
										</span>
									</td>
								</tr>

							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	@*4th accord*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingFour">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
				<strong>
					Input Files
					(@Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(
						System.Net.WebUtility.UrlDecode(x.FileNameWithExtetnsion)
					)).ToLower().Equals("InputFiles(examples)".ToLower())).Count())
				</strong>
			</button>
		</h2>
		<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">File</th>
							<th scope="col">Size</th>
							<th scope="col">User</th>
							<th scope="col">Uploaded</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@{
							var InputFiles = Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(
								System.Net.WebUtility.UrlDecode(x.FileNameWithExtetnsion)
							)).ToLower().Equals("InputFiles(examples)".ToLower())).ToList();
							foreach (var elem in InputFiles)
							{
								<tr>
									<th scope='row'>
										<input type='checkbox' name="usrDocumentChk" value="@elem.Id" />
									</th>
									<td>@System.IO.Path.GetFileName(elem.FileNameWithExtetnsion)</td>
									<td>@elem.Size</td>
									<td>@elem.User</td>
									<td>@elem?.CreatedDateString</td>
									<td>
										<a title="Download" href="/api/business/idea/detail/Documentation/ideaId/Download?docUri=@elem.Id&ideaId=@elem.IdeaId" style="text-decoration: none;">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" style="color:var(--bs-dark); margin-right:10px;" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
											</svg>
										</a>
										<span title="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color:var(--bs-dark);" onclick="deleteDocument('@elem.Id','@elem.IdeaId')">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
											</svg>
										</span>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	@*5th accord*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingFive">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="true" aria-controls="flush-collapseFive">
				<strong>
					Output Files
					(@Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(
						System.Net.WebUtility.UrlDecode(x.FileNameWithExtetnsion)
					)).ToLower().Equals("OutputFiles(examples)".ToLower())).Count())
				</strong>
			</button>
		</h2>
		<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">File</th>
							<th scope="col">Size</th>
							<th scope="col">User</th>
							<th scope="col">Uploaded</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@{
							var OutputFiles = Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(
								System.Net.WebUtility.UrlDecode(x.FileNameWithExtetnsion)
							)).ToLower().Equals("OutputFiles(examples)".ToLower())).ToList();
							foreach (var elem in OutputFiles)
							{
								<tr>
									<th scope='row'>
										<input type='checkbox' name="usrDocumentChk" value="@elem.Id" />
									</th>
									<td>@System.IO.Path.GetFileName(elem.FileNameWithExtetnsion)</td>
									<td>@elem.Size</td>
									<td>@elem.User</td>
									<td>@elem?.CreatedDateString</td>
									<td>
										<a title="Download" href="/api/business/idea/detail/Documentation/ideaId/Download?docUri=@elem.Id&ideaId=@elem.IdeaId" style="text-decoration: none;">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" style="color:var(--bs-dark); margin-right:10px;" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
											</svg>
										</a>
										<span title="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color:var(--bs-dark);" onclick="deleteDocument('@elem.Id','@elem.IdeaId')">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
											</svg>
										</span>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	@*6th accord*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingSix">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="true" aria-controls="flush-collapseSix">
				<strong>
					Recordings
					(@Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("Recordings".ToLower())).Count())
				</strong>
			</button>
		</h2>
		<div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">File</th>
							<th scope="col">Size</th>
							<th scope="col">User</th>
							<th scope="col">Uploaded</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@{
							var Recordings = Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("Recordings".ToLower())).ToList();
							foreach(var elem in Recordings)
							{
								<tr>
									<th scope='row'>
										<input type='checkbox' name="usrDocumentChk" value="@elem.Id" />
									</th>
									<td>@System.IO.Path.GetFileName(elem.FileNameWithExtetnsion)</td>
									<td>@elem.Size</td>
									<td>@elem.User</td>
									<td>@elem?.CreatedDateString</td>
									<td>
										<a title="Download" href="/api/business/idea/detail/Documentation/ideaId/Download?docUri=@elem.Id&ideaId=@elem.IdeaId" style="text-decoration: none;">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" style="color:var(--bs-dark); margin-right:10px;" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
											</svg>
										</a>
										<span title="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color:var(--bs-dark);" onclick="deleteDocument('@elem.Id','@elem.IdeaId')">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
											</svg>
										</span>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	@*7th accord*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingSeven">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="true" aria-controls="flush-collapseSeven">
				<strong>
					Misc
					(@Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("Misc".ToLower())).Count())
				</strong>
			</button>
		</h2>
		<div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">File</th>
							<th scope="col">Size</th>
							<th scope="col">User</th>
							<th scope="col">Uploaded</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@{
							var Misc = Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("Misc".ToLower())).ToList();
							foreach(var elem in Misc)
							{
								<tr>
									<th scope='row'>
										<input type='checkbox' name="usrDocumentChk" value="@elem.Id" />
									</th>
									<td>@System.IO.Path.GetFileName(elem.FileNameWithExtetnsion)</td>
									<td>@elem.Size</td>
									<td>@elem.User</td>
									<td>@elem?.CreatedDateString</td>
									<td>
										<a title="Download" href="/api/business/idea/detail/Documentation/ideaId/Download?docUri=@elem.Id&ideaId=@elem.IdeaId" style="text-decoration: none;">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" style="color:var(--bs-dark); margin-right:10px;" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
											</svg>
										</a>
										<span title="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color:var(--bs-dark);" onclick="deleteDocument('@elem.Id','@elem.IdeaId')">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
											</svg>
										</span>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	@*8th accord*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingEight">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="true" aria-controls="flush-collapseEight">
				<strong>
					Solution Design Document
					(@Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("SolutionDesignDocument".ToLower())).Count())
				</strong>
			</button>
		</h2>
		<div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">File</th>
							<th scope="col">Size</th>
							<th scope="col">User</th>
							<th scope="col">Uploaded</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@{
							var SolutionDesignDocument = Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("SolutionDesignDocument".ToLower())).ToList();
							foreach (var elem in SolutionDesignDocument)
							{
								<tr>
									<th scope='row'>
										<input type='checkbox' name="usrDocumentChk" value="@elem.Id" />
									</th>
									<td>@System.IO.Path.GetFileName(elem.FileNameWithExtetnsion)</td>
									<td>@elem.Size</td>
									<td>@elem.User</td>
									<td>@elem?.CreatedDateString</td>
									<td>
										<a title="Download" href="/api/business/idea/detail/Documentation/ideaId/Download?docUri=@elem.Id&ideaId=@elem.IdeaId" style="text-decoration: none;">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" style="color:var(--bs-dark); margin-right:10px;" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
											</svg>
										</a>
										<span title="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color:var(--bs-dark);" onclick="deleteDocument('@elem.Id','@elem.IdeaId')">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
											</svg>
										</span>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	@*9th accord*@
	<div class="accordion-item">
		<h2 class="accordion-header" id="flush-headingNine">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="true" aria-controls="flush-collapseNine">
				<strong>
					Process Definition Document
					(@Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("ProcessDefinitionDocument".ToLower())).Count())
				</strong>
			</button>
		</h2>
		<div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
			<div class="accordion-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">File</th>
							<th scope="col">Size</th>
							<th scope="col">User</th>
							<th scope="col">Uploaded</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						@{
							var ProcessDefinitionDocument =  Model.Where(x => System.IO.Path.GetFileName(System.IO.Path.GetDirectoryName(x.FileNameWithExtetnsion)).ToLower().Equals("ProcessDefinitionDocument".ToLower())).ToList();
							foreach(var elem in ProcessDefinitionDocument)
							{
								<tr>
									<th scope='row'>
										<input type='checkbox' name="usrDocumentChk" value="@elem.Id" />
									</th>
									<td>@System.IO.Path.GetFileName(elem.FileNameWithExtetnsion)</td>
									<td>@elem.Size</td>
									<td>@elem.User</td>
									<td>@elem?.CreatedDateString</td>
									<td>
										<a title="Download" href="/api/business/idea/detail/Documentation/ideaId/Download?docUri=@elem.Id&ideaId=@elem.IdeaId" style="text-decoration: none;">

											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" style="color:var(--bs-dark); margin-right:10px;" viewBox="0 0 16 16">
												<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
												<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
											</svg>
										</a>
										<span title="Delete">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" style="color:var(--bs-dark);" onclick="deleteDocument('@elem.Id','@elem.IdeaId')">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
											</svg>
										</span>
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>